body {
    margin: auto;
    position: relative;
}

body > header {
    background-color: dodgerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    position: absolute;
    right: 30px;
    top: 20px;
}

header nav ul li{
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
}
body main {
    width: 60%;
    margin: auto;
}

body main article {
    display: block;
    clear: both;
    margin-bottom: 50px;
}

#article-left{
    float:left;
    width: 300px;
    }

#article-right{
    float: left;
}

/* #article-left section form label{
    display: block;
    padding-top: 2px;
} */

#article-left section form input{
    display: block;
    padding-bottom: 5px;
}

#login-submit{
    margin-top: 15px;
    width: 46px;
}

.snippet {
    margin: 10px 0;
}

.snippet img {
    width: 30%;
}

.snippet div {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    margin: 10px;
    width: 60%;
}

#main-text {
    padding-top: 50px;
}

#comments-section {
    padding-top: 50px;
}

#comments-section form label {
    font-weight: 400;
    color: #333;
    font-size: 2em;
}

#comments-section form input {
    width: 100%;
    height: 200px;
}

#comments-section form #submit-comment {
    width: 46px;
    margin : 5px;
    height: 20px;
    float:right;
}

h2 {
    font-weight: 400;
    color: #333;
    font-size: 2em;
}

h3 {
    font-weight: 400;
    color: #333;
    font-size: 1.4em;
}

p {
    padding: 5px 0;
}
